html, body {
    overflow-x: hidden; 
    width: 100%;
}
img {
    max-width: 100%; 
    height: auto;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
      border-left: 25px solid #686666;
    border-right: 25px solid #686666 ;
}

.container {
    width: 100%;
    max-width: 1660px; 
    margin: 0 auto;
     
}

/* Header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    font-size: 60px;
}

.contact-info {
    text-align: right;
    position: relative;
    left: -25px; 
}

.header-text p {
    font-size: 25px;
   color: #a50000;
}
.header-text span {
    font-size: 25px;
}

/* Navigation */
.navbar {
    background: #8b0000;
    color: #fff;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.navbar a:hover {
    background: #5c5858;
}

/* HERO SECTION*/
.hero {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.hero-left {
    width: 60%;
}

.hero-left img {
    width: 95%;
}

.hero-right button {
    margin-top: 10px;
    padding: 10px;
    background: darkred;
    color: white;
    border: none;
}
.inner-right{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    background-color: #a50000;
    width: 160px;   
}
.inner-right p{
    font-size: 50px;
    font-weight: bold;
}
.hero-right {
    width: 50%;
    background: #eee;
    padding: 15px;
}

.hero-right   {
     background: url('form_bg.jpg') no-repeat center bottom;
     background-size: cover;
     padding: 40px;
     border: 1px solid #ddd;
     position: relative;
 }


.hero-right input{
  
   
    margin-top: 10px;
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box;
}
textarea {
  
    margin: 40px 0 0 0;
    padding: 8px;
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box;
    
}
/* BOXES */
.boxes {
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
}

.box {
    
    padding: 15px;
    width: 30%;
    text-align: center;
   
}
.box p{
    font-size: 23px;
}
.box span{
    color: #8b0000;
    font-weight: bold;
     font-size: 25px;
}
.box h3{
     font-size: 25px;
}
.box button {
    margin-top: 10px;
    background: darkred;
    color: white;
    border: none;
    padding: 8px;
}

/* CONTENT */
.content {
    display: flex;
    flex-wrap: wrap; 
    padding: 20px;
}

/* LEFT */
.left {
    width: 300px;
    padding: 20px;
   
}

/* Heading */
.left h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.left h2 span {
    color: darkred;
}

/* small boxes*/
.small-box {
    background: #9c9c9c;
    color: white;
    padding: 25px 20px;   
    margin-bottom: 15px; 
    position: relative;
    font-weight: bold;
    font-size: 16px;     
    border-left: 10px solid darkred; 
}

/* Learn more text */
.small-box span {
    position: absolute;
    right: 15px;
    bottom: 12px;
    font-size: 13px;
}


/* Bottom text */
.left h3 {
    margin-top: 30px;
    font-size: 18px;
}

.left h3 span {
    color: darkred;
}

/* CENTER */
.center {
    width: 70%;
    padding: 0 20px;
    flex: 1;
    min-width: 300px;
}


/* RIGHT */
.right {
    width: 300px;
    padding: 20px;
    
}

/* Each block */
.section {
    margin-bottom: 30px;
  
    padding-bottom: 25px;
}

/* Headings */
.section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.section h2 span {
    color: darkred;
}

/* Paragraph text */
.section p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Button */
.section button {
    background: darkred;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 13px;
    cursor: pointer;
}


/* Social */

.social img {
    width: 30px;
    margin: 5px;
}
.footer {
    position: relative;
    height: 150px;
    text-align: center;
    padding-top: 40px;
  
}

.footer-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;              
    background-image: url("ft_bg.png");
    background-repeat: repeat-x; 
    background-size: contain;
}

/* --- MOBILE VIEW --- */
@media screen and (max-width: 768px) {
    body {
        border: none; 
    }

    .top-header {
        flex-direction: row;
        text-align: center;
    }

    .phone {
        font-size: 30px; 
    }
    .header-text{
        font-size: 10px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 10px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #a50000;
    }

    .box {
        width: 100%;
    }
    .box p{
    font-size: 17px;
}
.box span{
    color: #8b0000;
    font-weight: bold;
     font-size: 20px;
}
.box h3{
     font-size: 20px;
}

    .small-box {
        padding: 15px; 
    }

    .footer {
        height: auto;
        padding-bottom: 40px;
    }
}
/* --- TABLET VIEW  --- */
@media screen and (max-width: 1024px) {
    body {
        border-left: 10px solid #686666; 
        border-right: 10px solid #686666;
    }

    .container {
        width: 100%; 
    }

    .hero {
        flex-direction: column; 
    }

    .hero-left, .hero-right {
        width: 100%;
    }

    .boxes {
        flex-wrap: wrap; 
    }

    .box {
        width: 45%; 
        margin-bottom: 20px;
    }

    .content {
        flex-direction: column; 
    }

    .left, .center, .right {
        width: 100%;
        padding: 10px;
    }

    textarea, .hero-right input {
        width: 100%; 
    }
}










